# Ignore all virtual environments in any project
venv/
env/
.env

# Ignore Python artifacts
__pycache__/
*.pyc

# Ignore Cursor & VS Code settings
.cursor/
.vscode/

#some files to ignore
morning_update/openai_convo.py
docs/
demo/