# Created by venv; see https://docs.python.org/3/library/venv.html
# Ignore virtual environment
venv/

# Ignore env file with secrets
.env

# Ignore Python cache
__pycache__/

# Ignore floder for generated tts mp3 files
output/